<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Concious Coding</title>
</head>

<body>
    <h1>Add Session</h1>
    <!-- 
    <form action="/users" method="POST">
        <label for="name">Session name</label></br></br>
        <input type="text" placeholder="name" name="name"></br></br>
        <label for="games">Cohort</label></br></br>
        <select name="cohorts" id="cohorts">
            <option value="1">1</option>
        </select></br></br>
        <label for="games">Game type</label></br></br>
        <select name="games" id="games">
            <option value="pathways">Pathways</option>
        </select></br></br>
        <button type="submit">Submit</button>
    </form> -->
</body>

</html>