<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Concious Coding</title>
</head>

<body>
    <h1>Add Student</h1>

    <form action="/users" method="POST">
        <input type="text" placeholder="first name" name="first_name">
        <input type="text" placeholder="last name" name="last_name">
        <button type="submit">Submit</button>
    </form>
</body>

</html>