<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Concious Coding</title>
</head>

<body>
    <h1>Add Game</h1>

    <!-- <form action="/users" method="POST">
        <p>Game type = Pathways</p>
        <label for="turns">Turns per round</label></br></br>
        <input type="text" placeholder="turns" name="turns"></br></br>

        <button type="submit">Submit</button>
    </form>
    <hr>
    <h1>Student Links</h1>


    <script>
        var urlBeginning = "http://localhost:3000/games/pathways";
        var turnsPerRound;

        $.get("/games/api", function (data, status) {

            turnsPerRound = data[0].turns_per_round;

            console.log(data[0]);
            console.log(status);

            var url = urlBeginning + "?" + turnsPerRound;
            console.log(url);



        });


    </script> -->
</body>

</html>