<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Concious Coding</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <h1>Pathways game</h1>

  <p><a href="pathways/yellow">join yellow team</a></p>
  <p><a href="pathways/blue">join blue team</a></p>

</body>

</html>