<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Concious Coding</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/sessions">Sessions</a>
    <a href="/users">Users</a>
    <a href="/cohorts">Cohorts</a>
  </div>

  <h1>Pathways game</h1>

  <!-- <form id="form" onsubmit="return false;">
    <label for="moves_per_round">Moves per round:</label>
    <input type="number" id="moves_per_round" name="moves_per_round"><br><br>
    <input type="submit" onclick="saveNumMovesPerRound();" />
  </form>

  <p>&nbsp;</p>
  <hr>
  <p>&nbsp;</p> -->

  <!-- <p><a href="games/pathways?nick_name=tommy&team=yellow">Student 1</a></p>
  <p><a href="games/pathways?nick_name=mups&team=blue">Student 2</a></p> -->
  <p><a href="pathways/yellow">join yellow team</a></p>
  <p><a href="pathways/blue">join blue team</a></p>

  <!-- <p>Please use student links on the "Users" page, under the headings "Yellow Team" and "Blue Team", to access game.</p> -->


  <!-- <script>
    function saveNumMovesPerRound() {
      var moverPerRound = document.getElementById("moves_per_round").value;
    }
  </script> -->

</body>

</html>