<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Concious Coding</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Concious Coding</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/sessions/add">Add session</a>
    </div>
    <h1>Session List</h1>
    <ul>
        <% for(var i=0; i<sessions.length; i++) {%>
            <li>
                <%= sessions[i].id %>
                    <%= sessions[i].name %>
            </li>
            <% } %>
    </ul>
</body>

</html>