<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Concious Coding</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <%- include('partials/navbar'); %>
        <div class="container-fluid">
            <a href="/cohorts/add" class="btn brand-button" role="button">Add cohort</a>

            <h1>Cohort List</h1>
            <div class="row">
                <div class="col-sm-10">
                </div>
                <div class="col-sm-2">
                    <label for="cars">Choose a cohort:</label>
                    <select class="form-select" id="cohorts" name="cohorts">
                        <option>Choose a cohort</option>>
                    </select>
                    <button class="btn brand-button" type="submit" onclick="ChooseCohort()">Submit</button>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Zoom</th>
                    <th>Game</th>
                    <th>Start Date</th>
                    <th></th>
                </tr>
                <% for(var i=0; i<cohorts.length; i++) {%>
                    <tr>
                        <td>1</td>
                        <td>
                            <%= cohorts[i].name %>
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td></td>
                        <td>
                            <%= cohorts[i].start_date %>
                        </td>
                        <td>
                            <form method="POST" action="/cohorts/<%=cohorts[i].id %>/delete?_method=DELETE">
                                <input type="submit" value="delete" />
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>

        <script>
            // Script for the drop-down list
            var url = " /cohorts/list"; // get the rows from the SQL query 
            $.get(url, function (data, status) {
                var select = document.getElementById("cohorts"); var options = data; for (var i = 0; i <
                    options.length; i++) {
                    var opt = options[i]; var el = document.createElement("option");
                    el.textContent = opt.name; el.value = opt.id; select.appendChild(el);
                } if
                    (sessionStorage.getItem("cohortId") != null && sessionStorage.getItem("cohortId") != "") {
                    select.value = sessionStorage.getItem("cohortId");
                } else {
                    select.value = options[0].id;
                    chooseCohort();
                }
            }); function ChooseCohort() {
                let
                    cohortId = document.getElementById('cohorts').value; // Store the cohort id across pages;
                sessionStorage.setItem("cohortId", cohortId);
            } </script>
</body>

</html>