<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Concious Coding</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <%- include('partials/navbar'); %>

        <div class="container-fluid">
            <div class="row">
                <a href="/users/add" class="btn brand-button" role="button">Add user</a>

                <h1>User List</h1>
                <div class="col-sm-10">
                    <a id="public_links" href="#" target="_blank">Public link</a>
                </div>
                <div class="col-sm-2">
                    <label for="cars">Choose a cohort:</label>
                    <select class="form-select" id="cohorts" name="cohorts">
                        <option>Choose a cohort</option>>
                    </select>
                    <button class="btn brand-button" type="submit" onclick="ChooseCohort()">Submit</button>
                </div>
            </div>

            <table id="userTable" class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>DOB</th>
                        <th>Admin</th>
                        <th>Admin Link</th>
                        <th>Game Link</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

        <script>
            //Populate the "public links" link.
            let publicLinksLink = document.getElementById('public_links');
            publicLinksLink.setAttribute("href", "/cohorts/" + sessionStorage.getItem("cohortId") + "/public-links");

            // Script for the drop-down list
            var url = "/cohorts/list";
            // get the rows from the SQL query
            $.get(url, function (data, status) {
                var select = document.getElementById("cohorts");
                var options = data;

                for (var i = 0; i < options.length; i++) {
                    var opt = options[i];
                    var el = document.createElement("option");
                    el.textContent = opt.name;
                    el.value = opt.id;
                    select.appendChild(el);
                }

                if (sessionStorage.getItem("cohortId") != null && sessionStorage.getItem("cohortId") != "") {
                    select.value = sessionStorage.getItem("cohortId");
                    ChooseCohort();
                }
                else {
                    select.value = options[0].id;
                    ChooseCohort();
                }
            });

            function ChooseCohort() {
                let cohortId = document.getElementById('cohorts').value;

                // Store the cohort id across pages;
                sessionStorage.setItem("cohortId", cohortId);

                // Clear existing content.             
                $("#userTable tbody tr").remove();

                var url = "/cohorts/" + cohortId + "/users";
                // get the rows from the SQL query
                $.get(url, function (data, status) {
                    var tb = document.querySelector('#userTable tbody');
                    for (var i = 0; i < data.length; i++) {
                        console.log(data);

                        var row = tb.insertRow(0);
                        var cell1 = row.insertCell(0);
                        var cell2 = row.insertCell(1);
                        var cell3 = row.insertCell(2);
                        var cell4 = row.insertCell(3);
                        var cell5 = row.insertCell(4);
                        var cell6 = row.insertCell(5);
                        var cell7 = row.insertCell(6);
                        var cell8 = row.insertCell(7);

                        // Edit user button.
                        var form1 = document.createElement("form");
                        form1.setAttribute("action", "/users/" + data[i].id + "/edit");
                        var input1 = document.createElement("input");
                        input1.setAttribute("type", "submit");
                        input1.setAttribute("value", "edit");
                        form1.appendChild(input1);
                        cell1.appendChild(form1);

                        cell2.innerHTML = data[i].email;
                        cell3.innerHTML = data[i].name;
                        if (data[i].dob != null)
                            var date = data[i].dob.substring(0, 10);
                        cell4.innerHTML = date;
                        cell5.innerHTML = data[i].is_admin;

                        if (data[i].admin_link != null && data[i].admin_link != "") {
                            var a1 = document.createElement("a");
                            a1.setAttribute("href", data[i].admin_link);
                            a1.setAttribute("target", "_blank");
                            a1.innerHTML = "Link";
                            cell6.appendChild(a1);
                        }

                        if (data[i].login_link != null) {
                            var a2 = document.createElement("a");
                            cell7.appendChild(a2);
                            a2.setAttribute("href", data[i].login_link);
                            a2.setAttribute("target", "_blank");
                            a2.innerHTML = "Link";
                        }

                        // Delete user button.              
                        var button = document.createElement("button");
                        button.innerHTML = "delete";
                        button.setAttribute("onclick", "DeleteUser(this)");
                        button.setAttribute("data-user-id", data[i].id);
                        cell8.appendChild(button);
                    }
                });
            }

            function DeleteUser(button) {
                userId = button.getAttribute("data-user-id");
                var url = "/users/" + userId;
                $.ajax({
                    url: url,
                    type: 'DELETE',
                    success: function () {
                        window.location.reload();
                    }
                });
            }

        </script>

</body>

</html>