<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Concious Coding</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Concious Coding</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/games/add">Add game</a>
    </div>
    <h1>Game List</h1>
    <!-- <ul>
        <% for(var i=0; i<games.length; i++) {%>
            <li>
                <%= games[i].id %>
                    <%= games[i].name %>
            </li>
            <% } %>
    </ul> -->


</body>

</html>