<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Concious Coding</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <iframe width="960" height="600" src="http://localhost:3000/games/pathways/index.html"></iframe>


    <!-- <a href="http://localhost:3000/games/pathways/index.html?yellow">yellow team</a>
    <a href="http://localhost:3000/games/pathways/index.html?blue">blue team</a> -->


</body>

</html>