<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Concious Coding</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Conscious Coding</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Create Game</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cohorts">Cohorts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Cohort</h1>
    <div>
        <ul>
            <li><strong>Id:</strong> <span id="id"></span></li>
            <li><strong>Name:</strong> <span id="name"></span></li>
            <li><strong>Number of rounds:</strong> <span id="numberOfRounds"></span></li>
            <li><strong>Number of moves:</strong> <span id="numberOfMoves"></span></li>
            <li><strong>Number of seconds:</strong> <span id="numberOfSeconds"></span></li>
            <li><strong>Points per toggle:</strong> <span id="pointsPerToggle"></span></li>
            <li><strong>Points per endpoint:</strong> <span id="pointsPerEndpoint"></span></li>
        </ul>
    </div>


    <script type="text/javascript">
        var cohortId = '<%- cohortId %>';
        var url = "/cohorts/api/" + cohortId;

        var name;
        var numberOfRounds;
        var numberOfMoves;
        var numberOfSeconds;
        var pointsPerToggle;
        var pointsPerEndpoint;

        //  console.log(url);
        //     var studentSkills;

        $.get(url, function (data, status) {

            name = data[0].name;
            numberOfRounds = data[0].number_rounds
            numberOfMoves = data[0].number_moves
            numberOfSeconds = data[0].number_seconds
            pointsPerToggle = data[0].points_toggle
            pointsPerEndpoint = data[0].points_endpoint

            // console.log(data[0]);
            document.getElementById("id").innerHTML = JSON.stringify(data[0].id);
            document.getElementById("name").innerHTML = JSON.stringify(data[0].name);
            document.getElementById("numberOfRounds").innerHTML = JSON.stringify(data[0].number_rounds);
            document.getElementById("numberOfMoves").innerHTML = JSON.stringify(data[0].number_moves);
            document.getElementById("numberOfSeconds").innerHTML = JSON.stringify(data[0].number_seconds);
            document.getElementById("pointsPerToggle").innerHTML = JSON.stringify(data[0].points_toggle);
            document.getElementById("pointsPerEndpoint").innerHTML = JSON.stringify(data[0].points_endpoint);
        });
    </script>

    <div style="border:1px solid blue;">
        <h2>Add Players</h2>

        <input id="playerName" type="text" placeholder="nick name" name="nick_name"><br><br>
        <label for="team">Team:</label>
        <select name="team" id="playerTeam">
            <option value="Yellow">Yellow</option>
            <option value="Blue">Blue</option>
        </select><br><br>

        <button onclick="addToPlayerList()">Add to player list</button>
        <div>
            <ul id="playerList">

            </ul>
        </div>

        <button onclick="createLinks()">Create links</button>
        <div>
            <ul id="linkList">

            </ul>
        </div>
    </div>

    <script>
        let players = [];

        function addToPlayerList() {
            const player = {
                name: "",
                team: ""
            };

            player.name = document.getElementById("playerName").value;
            player.team = document.getElementById("playerTeam").value;
            players.push(player);

            var list = document.createElement('li');
            list.appendChild(document.createTextNode(player.name));
            list.appendChild(document.createTextNode(", "));
            list.appendChild(document.createTextNode(player.team));
            document.getElementById("playerList").appendChild(list);
        }

        function createLinks() {

            let links = [];

            for (var i = 0; i < players.length; i++) {

                let href = window.location.protocol + "//" + window.location.hostname + ":3000/games/pathways?";

                href = href + "nick_name=" + players[i].name + "&team=" + players[i].team;
                href = href + "&rounds=" + numberOfRounds + "&moves=" + numberOfMoves + "&seconds=" + numberOfSeconds +
                    "&toggle_points=" + pointsPerToggle + "&endpoint_points=" + pointsPerEndpoint;
                links.push(href);

                const list = document.createElement('li');
                const a = document.createElement("a");
                a.appendChild(document.createTextNode(href));
                a.setAttribute("href", href);
                list.appendChild(a);
                document.getElementById("linkList").appendChild(list);
            }
        }
    </script>

</body>

</html>